{% extends 'base.html' %}

{% block content %}

    <h1>About</h1>
    <div class="img-container">
        <img src="https://cdn.pixabay.com/photo/2021/09/23/15/54/house-6650186_1280.png" alt="house for sale">
    </div>
    <p>The process of requesting a showing for a real estate property, while seemingly simple, is not always efficient. If the requests are being made through different platforms and missing important information like the full address and the desired time, as well as other available times, well, it can be less than ideal. ShowTime is the premium showing request hub that has a built-in form, ensuring all requests have the appropraite information and are stored in an organized manner. It's ShowTime, baby!</p>

{% endblock %}
