{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <a class="img-container" href="{% url 'showings_create' %}">
        <img class="home-img" src="https://cdn.pixabay.com/photo/2017/06/10/06/39/calender-2389150_1280.png" alt="calendar image">
    </a>  
    {% else %}
    <a class="img-container" href="{% url 'signup' %}">
        <img class="home-img" src="https://cdn.pixabay.com/photo/2017/06/10/06/39/calender-2389150_1280.png" alt="calendar image">
    </a>     
{% endif %} 

    <h4>It's ShowTime!</h4>
    
{% endblock %}