body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom, white, rgb(135, 194, 252))
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  nav, #footer, .btn, .datepicker-date-display, .datepicker-table td.is-selected {
    background-color: rgb(29, 72, 246);
  }

  .green {
    color: rgb(29, 72, 246);
  }

  .datepicker-cancel, .datepicker-done {
    color: rgb(29, 72, 246);
  }

  nav .brand-logo.left {
    padding-right: 13px;
  }

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgb(29, 72, 246);
  }

  img {
    border-radius: 25px;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
  }