{% extends 'base.html' %}
{% block content %}

<h1>Showing Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title" >{{ showing.address }}</span>
        <p>Preferred Date/Time: {{ showing.preferred_time }}</p>
        <p>Other Availability: {{ showing.other_availability }}</p>
        <p>Listing Status: {{ showing.status }}</p>
        <p>Notes: {{ showing.notes }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'showings_update' showing.id %}">Edit</a>
        <a href="{% url 'showings_delete' showing.id %}">Delete</a>
    </div>
</div>

{% endblock %}